@import '../../assets/style/vars';

.paper {
  padding: 40px;
  border-radius: 7px;

  &__color {
    &-white {
      background: $background-color--white;
    }

    &-grey {
      background: $background-color--grey;
    }
  }
}