// ---------- Text ------------ //
$text-color--black: #333333;
$text-color--grey: #ABB2B9;
$text-color--light-grey: #D6D9E4;
$text-color--purple: rgba(93, 107, 245, 1);
$text-color--white: #FFFFFF;
$text-color--orange: #FF9D0B;
$text-color--red: #FC2B2B;

// ---------- Button ------------ //
$button-color--orange: linear-gradient(180deg, #FFBF0B 0%, #FF9D0B 100%);
$button-color--red: #FC2B2B;
$button-color--white: #FFFFFF;
$button-color--grey: #ABB2B9;
$button-color--disabled: #D6D9E4;

// ---------- Background ------------ //
$background-color--orange: #FFBF0B;
$background-color--grey: #F6F6F6;
$background-color--white: #FFFFFF;
$background-color--light-grey: #E5E5E5;
$background-color--light-orange: #FFE28F;

// ---------- Text Filed ------------ //
$text-field--border-default: #D6D9E4;
$text-field--border-error: #FC2B2B;
$text-field--background: #FFFFFF;
