.order-page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 34px;

  &__widget {
    width: 861px;
    height: 142px;
    @media screen and (max-width: 550px) {
      width: 100%;
      height: fit-content;
    }
  }
}

