.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  &__form {
    width: 100%;
  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__map {
    width: 70%;
    height: 50vh;
  }

  &__taxi-list {
    width: 28%;
  }

  &__send {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
  }

  &__map-element {
    height: 50vh;
  }
}