@import '../../assets/style/vars';

.text-field {
  width: max-content;
  position: relative;

  &__full-width {
    width: 100%;
  }


  &__label-input {
    position: absolute;
    top: 10px;
    left: 22px;
    line-height: 7px;
    margin-bottom: 9px;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 23px 20px 10px 20px;
    font-family:  sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border-color: $text-field--border-default;
    border-radius: 5px;

    &:focus {
      outline: none !important;
      border:1px solid $background-color--orange;
      box-shadow: 0 0 3px $background-color--orange;
    }

    &__disabled-outline {
      &:focus {
        outline: none;
      }
    }

    &__disabled {
      opacity: 0.5;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $text-color--light-grey;
      font-family:  sans-serif;
      font-weight: 700;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $text-color--light-grey;
      font-family:  sans-serif;
      font-weight: 700;
    }

    &:-moz-placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $text-color--light-grey;
      font-family:  sans-serif;
      font-weight: 700;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $text-color--light-grey;
      font-family:  sans-serif;
      font-weight: 700;
    }

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $text-color--light-grey;
      font-family:  sans-serif;
      font-weight: 700;
    }
  }

  &__label-error {
    margin-top: 10px;
    height: 13px;
  }

  &__error {
    input {
      border-color: $text-field--border-error;
    }
  }
}
