@import './assets/style/vars';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background: $background-color--light-grey;
  box-sizing: border-box;
  min-height: 100%;
}

.main-widget__title {
  font-family: 'Lato', sans-serif;;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.main-widget__description {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.main-widget__title {
  font-family: 'Lato', sans-serif;;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.main-widget__button-text {
  font-family: 'Lato', sans-serif;;
  font-weight: bold;
  font-size: 20px;
  height: 22px;
}
