@import './assets/style/vars';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background: $background-color--light-grey;
  box-sizing: border-box;
  min-height: 100%;
}

.main-widget__title {
  color: #FC2B2B;
  font-size: 35px;
}

.main-widget__description {
  color: green;
  font-size: 30px;
}

.main-widget__title {
  color: #FC2B2B;
  font-size: 35px;
}

.main-widget__button {
  background-color: #FF9D0B;
}

.main-widget__button-text {
  color: aqua;
}
